pytz
aiogram
aiofiles
aiohappyeyeballs
aiohttp
aiohttp_socks
aiosignal
aiosmtplib
aiosqlite
annotated-types
APScheduler
Flask
emoji
python-dotenv
python-socks
requests
pandas
numpy
scipy
matplotlib
keras
pydantic
pydantic_core
typing_extensions
tzdata
tzlocal
